{% extends "layout.html" %} 


{% block content %}

<div class="container" style="padding: 10em 0">
  <h3 style="text-align: center;">House owner Login</h3>
  <div class="col-12 mx-auto text-right my-5 col-md-8 col-lg-6">
    <form action="{% url 'house_owner_login' %}" method="post">

      {% csrf_token %}

      <div class="form-group" style="padding-bottom: 20px">
        <label for="Username">Username</label>
        <input
          type="text"
          class="form-control"
          id="Username"
          name="username"
          aria-describedby="Username"
          placeholder="Enter Username"
        />
        
      </div>

      <div class="form-group" style="padding-bottom: 20px">
        <label for="input_password">Password</label>
        <input
          type="password"
          class="form-control"
          id="input_password"
          name="password"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>{% if message %} {{ message }} {% endif %}</p>
  </div>
</div>

{% endblock %}
