{% extends 'layout.html' %}

{% block content %}

    
    
    <div class="container-div">

        <h3>{{ house.name }}</h3>
        <div class="main-div">
            {% for image in images %}
                <div class="div-1">
                    <img class="img-tag" src="{{ image.image.url }}" alt="house-image">
                </div>
            {% endfor %}

        </div>

        <p>{{ house.description }}</p>
        <p>this house is located on {{ house.address }} in the city of {{ house.city }}, in the {{ house.state }} province, {{ house.country }} and this is one of the best location in the area</p>

        {% if not house.is_rented and not request.user == house.guest and not request.user == house.house_host %}
            <button class="btn btn-info"><strong><a class="button-link" href="{% url 'rent_house' house.id %}">Rent the house</a></strong></button>
        {% elif request.user == house.house_host %}
            <button class="btn btn-info"><strong><a class="button-link" href="{% url 'edit_house' house.id %}">Edit house</a></strong></button>
        {% elif request.user == house.guest %}
            <button class="btn btn-info"><strong><a class="button-link" href="{% url 'rent_house' house.id %}">Return the house</a></strong></button>
        {% else %}
            <button class="btn btn-danger"><strong>House occupied</strong></button>
        {% endif %}
    </div>
    

{% endblock %}